<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568357914574-tj6ppfa2vd17l5vgvr45aafemi35ej7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568357914574-tj6ppfa2vd17l5vgvr45aafemi35ej7b</string>
	<key>API_KEY</key>
	<string>AIzaSyBaKZTtipzDD_20MT7ZmZxUbsiV5SzoWAU</string>
	<key>GCM_SENDER_ID</key>
	<string>568357914574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manhpham.myapp.debug</string>
	<key>PROJECT_ID</key>
	<string>iosstartedkit</string>
	<key>STORAGE_BUCKET</key>
	<string>iosstartedkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568357914574:ios:f6aaed735dbc2f00980d9f</string>
	<key>DATABASE_URL</key>
	<string>https://iosstartedkit.firebaseio.com</string>
</dict>
</plist>