//
//  Staging.xcconfig
//  My Project
//

// https://help.apple.com/xcode/#/dev745c5c974
#include "./Pods/Target Support Files/Pods-MyApp/Pods-MyApp.staging.xcconfig"

APP_NAME = My App Staging
PRODUCT_BUNDLE_IDENTIFIER = com.manhpham.myapp.staging
SLASH = /
SCHEME = https:${SLASH}${SLASH}
SERVER_SIDE = ${SCHEME}api.github.com
APP_VERSION = 3.0
APP_VERSION_BUILD = 3
